include ./modules/base
- var topperWords = self.htmlWebpackPlugin.options.data.topper;
- var footerWords = self.htmlWebpackPlugin.options.data.footer;
- var pageWords = self.htmlWebpackPlugin.options.data.base;

+headMeta(pageWords)
  +topper(topperWords, 3)
  //- Main Container
  main.container
    .bot-content
      section.s1
        .s1-block
          figure
          div.s1-title
            span.theme-color.font-bold!= pageWords.banner.titleHL
            span.s1-sub-title.font-bold!= pageWords.banner.title


      section.s2
        .s2-block
          .s2-menu
            each items in pageWords.navMenu
              a.s2-menu-nav.font-medium.box-shadow(class=`${items.isActive ? 'js-selected' : ''}` href=`${items.link}`)!= `${items.text}`


      +preloader(30, '#333')


      section.s3
        .s3-block

          .s3-board
            each item in pageWords.board
              .s3-board-nav(class=`board-${item.class}`)
                .board-nav-value
                  span.font-bold.board-nav-value-count!= 'NaN'
                  span.font-bold!= '%'
                span.font-medium!= item.text

            //- .s3-board-nav.board-total.reduce
            //-   .board-nav-value
            //-     span.font-bold.board-nav-value-count!= '99.99'
            //-     span.font-bold!= '%'
            //-   span.font-medium!= '累計漲跌幅'


          .s3-date
            span!= `${pageWords.tableDate}: `
            span.font-medium.s3-date-time!= 'NaN'


          //- 桌機與平板
          .table-list
            table(cellspacing='5').s3-table-data
              //- tr.data-row.data-row-title
              //-   td!= '股票名稱'
              //-   td!= '起始日'
              //-   td!= '起始價'
              //-   td!= '昨日收盤價'
              //-   td!= '預計結束日'
              //-   td!= '至今漲幅'
              //- tr.data-row.reduce
              //-   td!= '9926新海'
              //-   td!= '2018-01-12'
              //-   td!= '40.8'
              //-   td!= '40.2'
              //-   td!= '2018-01-12'
              //-   td!= '-1.3%'


          //- 手機板
          .table-list-mobile
            //- .table-list-nav
            //-   table(cellspacing='6').reduce
            //-     tr.data-row
            //-       td.data-row-title!= '股票名稱'
            //-       td!= '9926新海'
            //-     tr.data-row
            //-       td.data-row-title!= '起始日'
            //-       td!= '2018-01-12'
            //-     tr.data-row
            //-       td.data-row-title!= '起始價'
            //-       td!= '40.8'
            //-     tr.data-row
            //-       td.data-row-title!= '昨日收盤價'
            //-       td!= '40.8'
            //-     tr.data-row
            //-       td.data-row-title!= '預計結束日'
            //-       td!= '2018-01-12'
            //-     tr.data-row
            //-       td.data-row-title!= '至今漲幅'
            //-       td!= '-1.3%'



  //- Footer
  +footer(footerWords)

