include ./modules/base
- var topperWords = self.htmlWebpackPlugin.options.data.topper;
- var footerWords = self.htmlWebpackPlugin.options.data.footer;
- var pageWords = self.htmlWebpackPlugin.options.data.base;

+headMeta(pageWords)
  +topper(topperWords, 3)
  //- Main Container
  main.container
    .bot-content
      section.s1
        .s1-block
          figure
          div.s1-title
            span.theme-color.font-bold!= pageWords.banner.titleHL
            span.s1-sub-title.font-bold!= pageWords.banner.title


      section.s2
        .s2-block
          .s2-menu
            each items in pageWords.navMenu
              a.s2-menu-nav.font-medium.box-shadow(class=`${items.isActive ? 'js-selected' : ''}` href=`${items.link}`)!= `${items.text}`


      +preloader(30, '#333')
      

      section.s3
        .s3-block

          //- 桌機與平板
          .table-list
            table(cellspacing='5').s3-table-data
              //- tr.data-row.data-row-title
              //-   td!= '股票名稱'
              //-   td!= '起始日'
              //-   td!= '買入價格'
              //-   td!= '結束日'
              //-   td!= '賣出價格'
              //-   td!= '報酬(%)'



          //- 桌機與平板
          .table-list-mobile
            //- .table-list-nav
            //-   table(cellspacing='6').reduce
            //-     tr.data-row
            //-       td.data-row-title!= '股票名稱'
            //-       td!= '9926新海'
            //-     tr.data-row
            //-       td.data-row-title!= '起始日'
            //-       td!= '2018-01-12'
            //-     tr.data-row
            //-       td.data-row-title!= '買入價格'
            //-       td!= '40.8'
            //-     tr.data-row
            //-       td.data-row-title!= '結束日'
            //-       td!= '2018-01-12'
            //-     tr.data-row
            //-       td.data-row-title!= '賣出價格'
            //-       td!= '40.2'
            //-     tr.data-row
            //-       td.data-row-title!= '報酬(%)'
            //-       td!= '-1.3%'


  //- Footer
  +footer(footerWords)

