mixin superSlider(number, index)
  .ss_wrap(class=`ss_wrap_${index}`)

    .ss_navigator
      .ss_navigator_left
      .ss_navigator_right

    .ss_photo
      - for(var i = 0; i < number; i = i + 1) {
        nav.ss_photo_nav(class=`ss_photo_nav_${i + 1}` data-index=`${i + 1}`)
          div
            img(src=`../images/ss_${index}_photo${i + 1}.png` width="100%" height="100%")
      - }

    ul.ss_paginator
      - for(var i = 0; i < number; i = i + 1) {
        li.ss_paginator_doc(class=`ss_paginator_doc_${i + 1}` data-index=`${i + 1}`)
          span
      - }
